# Rev Hire – Java Project

## Team Members
1. Uday Kiran Panuku
2. Anil Kumar Pilli – Team Lead
3. Rahul Podishetty
4. Sri Varsha Pogiri
5. Priyanka Ambati

## Technology
- Java
- Git & GitHub

## Description
A basic Java project demonstrating GitHub collaboration and project structure.
